.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.me {
    border-radius: 50%;
    height: 40vh;
    margin-top: 8vh;
}

.aboutIntro {
    text-align: center;
    width: 80%;
    border-top: 5px solid rgb(21, 97, 97, 0.5);
    border-bottom: 5px solid rgb(21, 97, 97, 0.5);
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 25px;
}

.aboutText {
    width: 80%;
    margin-bottom: 8vh;
}

.verified {
    width: 200px;
}