@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sunflower:wght@300&family=Zeyada&display=swap');

.banner {
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('../../assets/thumbnail_IMG_0422.jpg');
    background-size: cover;
    background-position: left;
    color: rgb(21, 97, 97);
    border-bottom: 1px rgb(0, 0, 0) solid;
}

.bannerMenu {
    width: 100vw;
    height: 5vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(188, 244, 241, 0.901);
    padding: 5px 5px 9px 5px;
    margin-top: 2vh;
}

.bannerTitle {
    position: absolute;
    margin-top: 32vh;
    margin-left: 35vw;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Sunflower', sans-serif;
}

.logoTitle {
    font-family: 'Sunflower', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    width: 160px;
    font-size: 40px;
    color: rgb(21, 97, 97);

}

.logoWords {
    margin: 13px 0 0 5px;
    letter-spacing: 1px;
    font-family: 'Cedarville Cursive';
    font-size: 18px;
    width: 180px;
    color: rgb(21, 97, 97);
}

.logo {
    display: flex;
}

.banner a {
    color: rgb(21, 97, 97);
    text-decoration: none;
    padding: 10px;
}

.bookingBtn {
    border: 2px rgb(164, 161, 161) solid;
}

.bookingBtn:hover {
    color: white;
}

a:hover {
    background-color: rgba(153, 153, 153, 0.689);
    color: rgb(255, 255, 255);
    transition: 0.1s ease;
}

.learnMore a {
    text-decoration: none;
    color: black;
    background-color: rgba(106, 195, 195, 0.729);
    padding: 8px;
}

.learnMore a:hover {
    color: white;
}