@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sunflower:wght@300&family=Zeyada&display=swap');

.banner {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('../../assets/tomoko-uji-kxvn1ogpTtE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(21, 97, 97);
}

.bannerMenu {
    width: 100vw;
    height: 5vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3vh 1vw 0 1vw;
}

.bannerTitle {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Sunflower', sans-serif;
}

.logoTitle {
    font-family: 'Sunflower', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    width: 160px;
    font-size: 40px;
    color: rgb(21, 97, 97);
}

.logoWords {
    margin: 13px 0 0 5px;
    letter-spacing: 1px;
    font-family: 'Cedarville Cursive';
    font-size: 18px;
    width: 180px;
    color: rgb(21, 97, 97);
}

.logo {
    display: flex;
}

.banner a {
    color: rgb(21, 97, 97);
    text-decoration: none;
}

a:hover {
    color: gray;
}

.learnMore a {
    text-decoration: none;
    color: black;
    background-color: rgba(106, 195, 195, 0.729);
    padding: 8px;
}

.learnMore a:hover {
    color: white;
}