@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sunflower:wght@300&family=Zeyada&display=swap');

.banner {
    position: absolute;
    top: 2.5vh;
    height: 45vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('../../assets/thumbnail_IMG_0422.jpg');
    background-size: cover;
    background-position: left;
    color: rgb(21, 97, 97);
    border-top: 1px black solid;
    border-bottom: 1px rgb(0, 0, 0) solid;
}

.bannerTitle {
    margin-top: 32vh;
    margin-left: 35vw;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Sunflower', sans-serif;
}

