@media screen and (max-width: 48em) {
    iframe {
        width: 80vw;
    }
}

.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-top: 34.6vh;
    align-items: center;
}

iframe {
 margin: 5vw 0 5vw 0;
}

.location h2 {

}