.bannerMenu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(188, 244, 241, 0.901);
    padding: 5px 0 9px 0;
    margin-top: 2vh;
}

.logoTitle {
    font-family: 'Sunflower', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    width: 160px;
    font-size: 40px;
    color: rgb(21, 97, 97);
    margin-left: 1vw;
}

.logoWords {
    margin: 13px 0 0 5px;
    letter-spacing: 1px;
    font-family: 'Cedarville Cursive';
    font-size: 18px;
    width: 180px;
    color: rgb(21, 97, 97);
}

.logo {
    display: flex;
}

.bannerMenu a {
    color: rgb(21, 97, 97);
    text-decoration: none;
}

.bookingBtn {
    border: 2px rgb(164, 161, 161) solid;
    margin-right: 1vw;
}

.bookingBtn:hover {
    color: white;
}

a:hover {
    background-color: rgba(153, 153, 153, 0.689);
    color: rgb(255, 255, 255);
    transition: 0.1s ease;
}

.learnMore a:hover {
    color: white;
}