.footer {
    border-top: 5px solid rgb(21, 97, 97, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info p {
    font-size: 15px;
}

.contact-links {
    display: grid;
}

.contact-links a {
    margin: 1vh;
}