* {
    letter-spacing: 1px;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif ;
  }

.general {
    background:
    linear-gradient( rgba(250, 250, 250, 1),
    rgba(255, 255, 255, 0.3) );
    height: 100%;
}