@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Zeyada&display=swap');

.landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.homeImg {
    height: 40vh;
    margin: 4vh;
}

.landing p {
    margin-bottom: 3vh;
    width: 80%;
    font-size: 25px;
    letter-spacing: 1px;
}

.imgTtl {
    margin: 0;
    text-align: center;
}
