@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sunflower:wght@300&family=Zeyada&display=swap');

.landing {
    margin-top: 34.6vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.landingSection {
    width: 100%;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.landingQuote {
    background-image: url(../../assets/thumbnail_IMG_0409.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.landingQuote h4 {
    background-color: rgba(188, 244, 241, 0.995);
    padding: 15px;
    font-weight: 300;
    font-size: 3vh;
    opacity: 0.8;
}

.welcomeText {
    height: 70vh;
}

.welcomeText {
    width: 80%;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Sunflower', sans-serif;
}

.welcomeText p {
    padding: 10px;
}

.booking {
    background:
        linear-gradient(rgba(126, 126, 126, 0.705),
        rgba(83, 82, 82, 0.758)),
        url('../../assets/adrien-king-XzBluXxBoyQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.booking h1 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: white;
    margin-top: 10vh;
}

.booking p {
    color: white;
}

.helpContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    color: white;
    align-items: center;
    margin-bottom: 10vh;
}

.help p {
    text-align: center;
    margin: 10px;
}

.help h3 {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.helpContainer {
    margin: 5vh 0 0 0;
}

.learnMore div {
    display: flex;
    width: 40%;
    margin: 2%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.bookNow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.bookNow p {
    text-align: center;
    width: 90%;
}

.bookNowContainer {
    margin: 5vh;
    width: 100%;
}

@media screen and (max-width: 48em) {

    .learnMore {
        height: 100%;
    }

    .learnMore div {
        width: 80vw;
    }

    .learnMoreContainer {
        padding: 5vh 0 10vh 0;
    }

    .welcomeText {
        height: 100%;
    }

    .welcomeText p {
        margin: 10vh 0 15vh 0;
    }

    .booking {
        height: 100%;
    }

    .landingSection h1 {
        font-size: 40px;
    }

    .landingQuote {
        background-image: url(../../assets/thumbnail_IMG_0409.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 800px) {

    .helpContainer {
        justify-content: space-between;
    }

    .help {
        width: 20vw;
    }
}