.promo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.5vh;
    border-bottom: 1px black solid;
}

.promoText {
    margin: 0;
    font-size: 15px;
    text-align: center;
    letter-spacing: 3px;
}

.promoText a {
    color: black;
}

.promoText a:hover {
    color: white;
    background-color: rgb(78, 176, 155);
    padding: 3px;
}

@media screen and (max-width: 48em) {
    .promoText {
        margin-top: 2px;
        font-size: 10px;
        text-align: center;
        letter-spacing: 2px;
    }
}