.promo {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 3vh;
}

.promoText {
    margin: 0;
    font-size: 13px;
    text-align: center;
}

.promoText a {
    color: black;
}

.promoText a:hover {
    color: teal;
}