.services {
    position: relative;
    margin-top: 34.6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services div {
    width: 100%;
    padding: 5vw;
}

.teenSession {
    text-align: right;
    color: white;
    background-color: rgba(124, 196, 192, 0.947);
}

.teenSession p {
    text-align: left;
}

@media screen and (max-width: 48em) {
    .services div {
        width: 80vw;
        margin: 5vh;
    }
}